.login {
   display: grid;
   place-items: center;
   height: 100vh;
   background-color: black;
}

.login > img {
   width: 400px;
}

.login > a {
   padding: 20px;
   background-color: #1db954;
   border-radius: 99px;
   font-weight: 700;
   color: white;
   /************************
   It is an anchor, so when you linked a link to anchor
   the text will be underlined, to prevent this set the
   text decoration: none
   */
   text-decoration: none;
   /***********************/
   
}